.rating-stars {
  display: flex;
  align-items: center;
  gap: 0.125rem;
}

.star {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: color 0.2s;
  
  .star-icon {
    width: 1em;
    height: 1em;
  }
  
  &.sm {
    font-size: 0.875rem;
    
    .star-icon {
      width: 0.875rem;
      height: 0.875rem;
    }
  }
  
  &.md {
    font-size: 1rem;
    
    .star-icon {
      width: 1rem;
      height: 1rem;
    }
  }
  
  &.lg {
    font-size: 1.25rem;
    
    .star-icon {
      width: 1.25rem;
      height: 1.25rem;
    }
  }
  
  &.filled {
    color: #fbbf24;
  }
  
  &.half {
    color: #fbbf24;
    position: relative;
    
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      background: #d1d5db;
      clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
    }
  }
  
  &.empty {
    color: #d1d5db;
  }
  
  &:not(.readonly):hover {
    color: #f59e0b;
    cursor: pointer;
  }
}
